<!DOCTYPE html>
<html lang="dk">

<head>
	<title>About us</title>
    <meta charset="utf-8" />
    <meta name="description" content="A description"/>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/about.css">
    <link href="../css/layout.css" rel="stylesheet">


</head>


<style>*{
    font-size: 1.2vw;
}
</style>

<body>

<div class="nav-bar">
    <a href="../index.html">Home</a>
    <a href="products.html">Products</a>
    <a class="about-us-active" href="aboutus.html">About us</a>
    <a href="contact.html">Contact</a>
    <h1 class="login"><a href="login.html"><button>Login</button></a></h1>


</div>
    <div id="om-os-container">

        <h2>Our vision</h2>
        <p>We believe in selling antique/old products to make people more aware of how design used to be.</p>

        <hr>

        <h2>Our mission</h2>
        <p>We are going to do that by displaying our products under the products section.</p>

        <hr>
        <h2>Vores værdier</h2>
        <p>Vi er bygget op omkring et mindset,
            hvor der er plads til kreativitet men dermed også ansvar.
            Man bliver derfor medlem af et fællesskab, hvor man er bevidst om, at man gør en forskel for jorden. </p>

        <hr>
    </div>




</body>
</html>