<!DOCTYPE html>
<html>

<head>
    <title>About-us</title>
    <meta charset="utf-8"/>
    <meta content="A description" name="description"/>
    <link href="../css/about.css" rel="stylesheet">
    <link href="../css/layout.css" rel="stylesheet">


</head>


<body>

<div class="nav-bar">
    <a href="../index.html">Home</a>
    <a href="products.html">Products</a>
    <a class="about-us-active" href="aboutus.html">About us</a>
    <a href="contact.html">Contact</a>


</div>
<div id="about-us-container">

    <h2>Our vision</h2>
    <p>We believe in selling antique/old products to make people more aware of how design used to be.</p>

    <hr>

    <h2>Our mission</h2>
    <p>We are going to do that by simply displaying our unique products on our webshop.</p>

    <hr>
    <h2>Our values</h2>
    <p>We are built around a mindset,
        where we are serious about our choice of products. Therefore,
        you as a user will only meet quality products</p>
</div>


<footer>
    <div class="footer-container">
        <p> Copyright @2022 | Designed by</p>
        <a href="logo">
            <img alt="Side logo" src="/src/images/antique.png">
        </a>
    </div>

</footer>


</body>
</html>