<!DOCTYPE html>
<html>

<head>
    <title>Contact</title>
    <meta charset="utf-8"/>
    <meta content="A description" name="description"/>
    <link href="../css/contact.css" rel="stylesheet">
    <link href="../css/layout.css" rel="stylesheet">


</head>

<body>

<div class="nav-bar">
    <a href="../index.html">Home</a>
    <a href="products.html">Products</a>
    <a href="aboutus.html">About us</a>
    <a class="contact-active" href="contact.html">Contact</a>

</div>


<div class="contact-form">
    <h2 id="contact-heading">Contact</h2>
    <form id="contact-form" name="contact">
        <input name="name" placeholder="Enter your name" required type="text">
        <br>
        <input name="email" placeholder="Enter your email" required type="email">
        <br>
        <textarea name="message" placeholder="Indtast venligst din besked" required rows="4"></textarea>
        <br>
        <button id="button-send" type="submit">Send</button>
    </form>
</div>


<footer>
    <div class="footer-container">
        <p> Copyright @2022 | Designed by</p>
        <a href="logo">
            <img alt="Side logo" src="/src/images/antique.png">
        </a>
    </div>

</footer>

<script src="/src/scripts/contact.js"></script>
</body>

</html>