<!DOCTYPE html>
<html>

<head>
    <title>Furniture</title>
    <meta charset="utf-8"/>
    <meta content="A description" name="description"/>
    <link href="../css/products.css" rel="stylesheet">
    <link href="../css/layout.css" rel="stylesheet">


</head>


<body>

<div class="nav-bar">
    <a href="../index.html">Home</a>
    <a href="products.html">Products</a>
    <a href="aboutus.html">About us</a>
    <a href="contact.html">Contact</a>
    <a class="cart">Cart: <span>0</span></a>


</div>



<div class="text-container">
    <h1>
        Furniture

    </h1>
    <p>
        Choose a furniture and add it them to your cart.<br>
        Each and every furniture is priced at 799$.
    </p>
</div>

<div class="product-container">
    <div class="row">
        <div><img src="/src/images/furniture/møb1.webp"></div>
        <div><img src="/src/images/furniture/møb2.webp"></div>
        <div><img src="/src/images/furniture/møb3.webp"></div>
    </div>

    <div class="row">
        <div><img src="/src/images/furniture/møb4.webp"></div>
        <div><img src="/src/images/furniture/møb5.webp"></div>
        <div><img src="/src/images/furniture/møb6.webp"></div>
    </div>

</div>


<script src="../scripts/cart.js"></script>
</body>

</html>