<!DOCTYPE html>
<html lang="dk">

<head>
    <title>Contact</title>
    <meta charset="utf-8" />
    <meta name="description" content="A description" />
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/contact.css">
    <link href="../css/layout.css" rel="stylesheet">



</head>



<body>

<div class="nav-bar">
    <a href="../index.html">Home</a>
    <a href="products.html">Products</a>
    <a href="aboutus.html">About us</a>
    <a class="kon" href="kontakt.html">Contact</a>
    <h1 class="login"><a href="login.html"><button>Login</button></a></h1>


</div>

<div class="contact-section">
    <div class="contact-info">
        <div><i class="fas fa-map-marker-alt"></i>Copenhagen, Denmark</div>
        <div><i class="fas fa-envelope"></i>contact@email.com</div>
        <div><i class="fas fa-phone"></i>+4553534690</div>
        <div><i class="fas fa-clock"></i>Monday - Friday 8:00 to 17:00</div>



    </div>
    <div class="contact-form">
        <h2 >Contact</h2>
        <form name="contact" action="" method="post">
            <input type="text" name="Name" class="text-box" placeholder="Type in your name" required>
            <input type="email" name="Email" class="text-box" placeholder="Type in your mail" required>
            <textarea name="Message" rows="5" placeholder="Indtast besked"></textarea>
        </form>
    </div>
</div>

<button class="btn">Send message</button>




<script src="/src/scripts/contact.js"></script>
</body>

</html>