<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login | By Code Info</title>
    <meta charset="utf-8" />
    <meta name="description" content="A description"/>
    <link rel="stylesheet" href="../css/login.css">
    <script src="../scripts/login.js"></script>




   
   
     


   
  </head>
  <body>

    <h1 class="loginlog"><a href="../home.html"><button>Home</button></a></h1>

  
      
    <div class="login-box">
      <h1>Login</h1>
      <form name ="myForm" method=>
        <label>Email</label>
        <input type="email" name ="Mail" placeholder="Type in your mail" />
        <label>Password</label>
        <input type="password" name="Kode" placeholder="Type in your password" />
        <input class="loginbutton" type="button" name="submit" value="Login" onclick="loginButton()"/>
      </form>
    </div>
    <p class="z">
      Haven't you signed up yet? <a href="signUp.html">Create your account</a>
    </p>
  </body>


</html>


