<!DOCTYPE html>
<html lang="dk">

<head>
    <title>Webshop</title>
    <meta charset="utf-8"/>
    <meta content="A description" name="description"/>
    <link href="../css/show.css" rel="stylesheet">
    <link href="../css/layout.css" rel="stylesheet">


</head>


<body>
<h1 class="velkomst"></h1>

<div class="nav-bar">
    <a href="../index.html">Home</a>
    <a href="products.html">Products</a>
    <a href="aboutus.html">About us</a>
    <a href="contact.html">Contact</a>
    <a class="viskurv">Cart: <span>0</span></a>
</div>

<div class="text-container">
    <h1>
        Paintings

    </h1>
    <p>
        Choose a painting and add them to your cart.
    </p>
</div>

<div class="painting-container">
    <div class="row">
        <div><img src="/src/images/paintings/male1.webp" alt="Enter"></div>
        <div><img src="/src/images/paintings/male2.webp"></div>
        <div><img src="/src/images/paintings/male3.webp"></div>
    </div>

    <div class="row">
        <div><img src="/src/images/paintings/male4.webp"></div>
        <div><img src="/src/images/paintings/male5.webp"></div>
        <div><img src="/src/images/paintings/male6.webp"></div>

    </div>

</div>

<script src="../scripts/cart.js"></script>
</body>

</html>