<!DOCTYPE html>
<html>

<head>
    <title>Products</title>
    <link href="../css/product-categories.css" rel="stylesheet">
    <link href="../css/layout.css" rel="stylesheet">
    <meta charset="utf-8"/>
    <meta content="A description" name="description"/>


</head>


<body>

<div class="nav-bar">
    <a href="../index.html">Home</a>
    <a class="product-active" href="products.html">Products</a>
    <a href="aboutus.html">About us</a>
    <a href="contact.html">Contact</a>

</div>

<div class="categories">
    <h1>
        Categories
    </h1>
</div>

<div class="product-category-container">
    <div class="images"> <a href="paintings.html"> <img src="/src/images/malerier.jpg"></a> </div>
    <div class="images"> <a href="furniture.html"><img src="/src/images/møbler.jpg"></a></div>
    <div class="images"> <a href="various.html"><img src="/src/images/diverse.jpg"></a></div>
</div>

<footer>
    <div class="footer-container">
        <p> Copyright @2022 | Designed by</p>
        <a href="logo">
            <img alt="Side logo" src="/src/images/antique.png">
        </a>
    </div>

</footer>

<script src="/src/scripts/cart.js"></script>
</body>
</html>