<!DOCTYPE html>
<html lang="dk">

<head>
    <title>Products</title>
    <link href="../css/products.css" rel="stylesheet">
    <link href="../css/layout.css" rel="stylesheet">
    <meta charset="utf-8"/>
    <meta content="A description" name="description"/>


</head>


<body>

<div class="nav-bar">
    <a href="../index.html">Home</a>
    <a class="product-active" href="products.html">Products</a>
    <a href="aboutus.html">About us</a>
    <a href="contact.html">Contact</a>

</div>

<div class="product-container">
    <div class="images"> <a href="paintings.html"> <img src="/src/images/malerier.jpg"></a> </div>
    <div class="images"> <a href="furniture.html"><img src="/src/images/møbler.jpg"></a></div>
    <div class="images"> <a href="various.html"><img src="/src/images/diverse.jpg"></a></div>
</div>



</body>
</html>