<!DOCTYPE html>
<html lang="dk">

<head>
    <title>Webshop</title>
    <meta charset="utf-8" />
    <meta name="description" content="A description"/>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/show.css">

</head>

<!-- Dette håndtere baggrundsbilledet og dens størrelse -->




<!-- Den overordnede font størrelse af tekst på siden -->
<style>
    * {
        font-size: 1.2vw;
    }
</style>

<!-- Begyndelsen af kroppen af siden samt font typen der vil blive brugt på siden -->

<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <h1 class="velkomst"></h1>

    <!-- Den øverste bjælke laves samt knapper som vises på bjælken -->
    <div class="toppenproduct">
        <a href="../home.html">Home</a>
        <a href="products.html">Products</a>
        <a href="aboutus.html">About us</a>
        <a href="kontakt.html">Contact</a>
        <a class="viskurv">Cart: <span>0</span></a>
        <h1 class="login"><a href="login.html"><button>Login</button></a></h1>


    </div>


    <div class="møblerne">
        <h1 style="font-size: 52px; margin-top: 50px; text-align: center;">Furniture</h1>
        <img class="møbler1" style="margin-left: 630px;"  src="/Møbler1/møb1.webp" alt="">
        <input type="button" name="" value="Add to cart" class="kurv">
       <u> <a> Price: $300 </a> </u>
        <p style="margin-left: 630px;"> </p>
        <img class="møbler1" style="margin-left: 630px;" src="/Møbler1/møb2.webp" alt="">
        <input type="button" name="" value="Add to cart" class="kurv">
        <u> <a> Price: $300 </a> </u>
        <p style="margin-left: 630px;">  </p>
        <img class="møbler1" style="margin-left: 630px;" src="/Møbler1/møb3.webp" alt="">
        <input type="button" name="" value="Add to cart" class="kurv">
        <u> <a> Price: $300 </a> </u>
        <p style="margin-left: 630px;">  </p>
        <img class="møbler2" style="margin-left: 630px;" src="/Møbler1/møb4.webp" alt="">
        <input type="button" name="" value="Add to cart" class="kurv">
        <u> <a> Price: $300 </a> </u>
        <p style="margin-left: 630px;"> </p>
        <img class="møbler2" style="margin-left: 630px;" src="/Møbler1/møb5.webp" alt="">
        <input type="button" name="" value="Add to cart" class="kurv">
        <u> <a> Price: $300</a> </u>
        <p style="margin-left: 630px;"> </p>
        <img class="møbler2" style="margin-left: 630px;" src="/Møbler1/møb6.webp" alt="">
        <input type="button" name="" value="Add to cart" class="kurv">
        <u> <a> Price: $300 </a> </u>
        <p style="margin-left: 630px;">  </p>


        <script src="../scripts/kurv.js"></script>



    </div>




</body>

</html>