<!DOCTYPE html>
<html>

<head>
    <title>Various</title>
    <meta charset="utf-8"/>
    <meta content="A description" name="description"/>
    <link href="../css/products.css" rel="stylesheet">
    <link href="../css/layout.css" rel="stylesheet">


</head>


<body>

<div class="nav-bar">
    <a href="../index.html">Home</a>
    <a href="products.html">Products</a>
    <a href="aboutus.html">About us</a>
    <a href="contact.html">Contact</a>
    <a class="cart">Cart: <span>0</span></a>


</div>

<div class="text-container">
    <h1>
        Various

    </h1>
    <p>
        Choose a product and add it to your cart.<br>
        Each and every product is priced at 599$.
    </p>
</div>
<div class="product-container">
    <div class="row">
        <div><img src="/src/images/various/div1.webp"></div>
        <div><img src="/src/images/various/div2.webp"></div>
        <div><img src="/src/images/various/div3.webp"></div>
    </div>

    <div class="row">
        <div><img src="/src/images/various/div4.webp"></div>
        <div><img src="/src/images/various/div5.webp"></div>
        <div><img src="/src/images/various/div6.webp"></div>

    </div>

</div>

<script src="/src/scripts/cart.js"></script>
</body>

</html>