#about-us-container {
    margin: 0.5% 0 10% 0;
    width: 80%;
    height: 100%;
    background: powderblue;
    color: #05545b;
    border-radius: 20px;

}

#about-us-container p {
    font-family: Open Sans, sans-serif;
    font-weight: 200;
    line-height: 2.0rem;
    padding: 30px 10px;
    font-size: 1.4em;
}

#about-us-container h2 {
    font-family: Lora, serif;
    font-weight: 400;
    font-size: 2em;
    padding: 0.3% 0.5%;
}

