
#contact-form {
    text-align: center;
}

.contact-form #contact-heading {
    border-radius: 20px;
    color: #05545b;
    font-size: 3em;
    font-family: New Peninim MT;
    font-weight: 400;
    height: 100%;
    margin: 0.5% 0 1.5% 0;
    position: relative;
    text-align: center;
    width: 100%;
}

input {
    border: 1px solid black;
    font-family: Lora, serif;
    font-weight: 400;
    font-size: 1.5em;
    padding: 10px 10px;
    margin: 0% 0 2% 0;
    width: 20%;
    background: white;
    color: #05545b;
    border-radius: 20px;
    text-align: center;
}

textarea {
    border: 1px solid black;
    font-family: Lora, serif;
    font-weight: 400;
    font-size: 1.5em;
    padding: 4.375% 0.625%;
    margin: 0% 0 4% 0;
    width: 20%;
    height: 100%;
    background: white;
    color: #05545b;
    border-radius: 20px;
    text-align: center;
}

button {
    border: 1px solid black;
    font-family: New Peninim MT;
    font-weight: 400;
    font-size: 1.5em;
    margin: -5% 0 0 0;
    width: 20%;
    color: white;
    border-radius: 20px;
    text-align: center;
    background-color: #004F54;
}


      