html,body{
    margin:0%;
    height:100%;
    background-color: powderblue;
}

.nav-bar {
    position: relative;
    overflow: hidden;
    background-color: #004F54;
}

.nav-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5% 5%;
    text-decoration: none;
    font-size: 17px;
}

.nav-bar a:hover {
    background: #022a32;
    color: #f2d435;
    transition: 0.6s;
}

.nav-bar a.active,
a.product-active,
a.about-us-active,
a.contact-active{
    background-color: #022a32;
    color: white;
}

.footer-container {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    background-color: #efefef;
    color: black;
    text-align: center;

}

.footer-container img {
    width: 5%;
    height: 50%;
    border-radius: 20px;

}