body{
    background-color: powderblue;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html,body{
    margin:0%;
    height:100%;
}


.container{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}

.container img {
    width: 70%;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    top: 10%;
    left: 20%;
}
.container img:hover{
    transform: scale(1.1);
    transition:0.8s;
}
.billedeforside{

    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.login{

     line-height: 12px;
     width: 18px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 0px;
     margin-right: 75px;
     position:absolute;
     top:0;
     right:0;
     border-radius: 80px;
}




.tekst {
    color: black;
    background: white;
    padding: 2%;
    border-radius: 20px;
    position: absolute;
    top: 80px;
    left: 16px;
    font-weight: 600;
    font-size: 2em;
    line-height: 2em;
  }





.toppenproduct {
    overflow: hidden;
    background-color: black;
    
}

.toppenproduct a:hover {
    background-color: #ddd;
    color: black;
}

.toppenproduct a.toppenpro {
    background-color: transparent;
    color: white;
}


.toppenproduct a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 17px;
}



.toppenproduct a.active {
    background-color: transparent;
    
}



.toppenabout {
    overflow: hidden;
    background-color: black;
}

.toppenabout a:hover {
    background-color: #ddd;
    color: black;
}

.toppenabout a.about {
    background-color: transparent;
    color: white;
}


.toppenabout a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 17px;
}


.toppenabout a.active {
    background-color: transparent;
    
}


  .møbler{
    line-height: 12px;
     width: 140px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 500px;
     margin-right: 75px;
     position:absolute;
     top: -80px;
     right:0;
  }

  .diverse{
    line-height: 12px;
     width: 140px;
     font-size: 8pt;
     font-family: tahoma;
     margin-top: 500px;
     margin-right: 75px;
     position:absolute;
     top: -80px;
     right:0;
  }








.møblerne .møbler1{
    height: 250px;
    width: 250px;
    margin-top: 80px;
    margin-left: 38px;
    transition: 1s;

}


.møblerne .møbler2{
    height: 250px;
    width: 250px;
    margin-top: 100px;
    margin-left: 38px;
    transition: 1s;

}
