body{
    background-color: powderblue;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html,body{
    margin:0%;
    height:100%;
}


.container img {
    width: 70%;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    top: 10%;
    left: 20%;
}
.container img:hover{
    transform: scale(1.1);
    transition:0.8s;
}
.billede-forside{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.tekst {
    color: black;
    background: white;
    padding: 2%;
    border-radius: 20px;
    position: absolute;
    top: 80px;
    left: 16px;
    font-weight: 600;
    font-size: 2em;
    line-height: 2em;
  }










