body{
    background-color: powderblue;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("/src/images/billede.jpg");
    background-size: 100% 100%;
}

html,body{
    margin:0%;
    height:100%;
}


.tekst {
    color: black;
    background: white;
    padding: 2%;
    border-radius: 20px;
    position: absolute;
    top: 80px;
    left: 16px;
    font-weight: 600;
    font-size: 2em;
    line-height: 2em;
  }










