html,body{
    margin:0%;
    height:100%;
}

.product-container {
    width: 80%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 10%;
    left: 15%;
    gap: 8rem;
}

.product-container .row {
    display: flex;
    gap: 12rem;
    margin: 0 5% 0 0;
}

.product-container img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.product-container img:hover{
    transition: 0.6s;
    transform: scale(2);
    cursor: pointer;
}

.text-container{
    text-align: center;
}

.text-container h1{
    font-size: 3em;
    font-family: New Peninim MT;
}

.text-container p{
    font-size: 1.5em;
    font-family: Avenir Next;
}