html,body{
    margin:0%;
    height:100%;
}

.kurv {
    width: 16.5%;
    margin-bottom: 20px;
    margin-left: -250px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    bottom: 100px;
    opacity: 0;
    transition: 1.5s;
    border-radius: 20px;

}

.painting-container {
    width: 80%;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 10%;
    left: 15%;
    gap: 8rem;
}

.painting-container .row {
    display: flex;
    gap: 12rem;
    margin: 0 5% 0 0;
}

.painting-container img {
    width: 200px;
    height: 200px;
}

.painting-container img:hover{
    transition: 0.6s;
    transform: scale(2);
    cursor: pointer;
}

.text-container{
    text-align: center;
}

.text-container h1{
    font-size: 3em;
    font-family: New Peninim MT;
}

.text-container p{
    font-size: 1.5em;
    font-family: Avenir Next;
}